/* styles.css */


/* Styling for subtitles */
.subtitle {
  font-size: 14px;
  color: #666;
}

/* Styling for email addresses */
h2.email {
  font-size: 14px;
  color: #999;
}


/* Center the document title */
.title {
  text-align: center;
  font-size: 14px; /* Adjust the size as needed */
  margin-top: 20px; /* Optional: Add some space above the title */
  margin-bottom: 10px; /* Optional: Add some space below the title */
}

/* Center the document subtitle */
.subtitle {
  text-align: center;
  font-size: 14px; /* Adjust the size as needed */
  margin-top: 10px; /* Optional: Add some space above the title */
  margin-bottom: 40px; /* Optional: Add some space below the title */
}

/* Style for Research Interests heading */
.research-interests {
  font-size: 16px; /* Adjust the size as needed */
  color: #333; /* Optional: Change the color */
  margin-top: 10; /* Optional: Add some space above the title */
  margin-bottom: 0; /* Optional: Add space below the heading */
}

/* Style for Publication heading */
.Publications {
  font-size: 18px; /* Adjust the size as needed */
  color: #333; /* Optional: Change the color */
  margin-bottom: 10px; /* Optional: Add space below the heading */
}




/* Container for the title and image */
.news-container {
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 0; /* Space below the container */
}

/* Style for the image */
.news-image {
  max-width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 0; /* Space between image and title */
}

/* Style for the title link */
.news-title {
  font-size: 14px; /* Adjust font size as needed */
  font-weight: bold;
  color: #007BFF; /* Link color */
  text-decoration: none; /* Remove underline */
  display: block; /* Ensure the title takes up full width */
}

.news-title:hover {
  text-decoration: underline; /* Underline on hover */
  color: #0056b3; /* Darker shade on hover */
  margin-bottom: 0; /* Space below the container */
}


/* Style for the additional text */
.news-subtitle {
  font-size: 10px; /* Adjust font size as needed */
  font-style: italic; /* Make text italic */
  color: #555; /* Adjust color if needed */
}

/* Style for news image */
.news-image {
  width: 30%;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.custom-text {
  font-size: 14px; /* Adjust the font size as needed */
  color: #333; /* Adjust text color if needed */
  margin-bottom: 0; /* Space below the container */

}

.custom-text a {
  color: #007BFF; /* Link color */
  text-decoration: none; /* Remove underline */
  margin-top: 16; /* Optional: Add some space above the title */
}

.custom-text a:hover {
  text-decoration: underline; /* Underline on hover */
}
